.text{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color: #CCDBDC;
    margin-top: 20px;
}

.error_gif{
    margin: 0 auto;
    background: none;
    display: block;
    width: 400px;
    height:400px;
    margin-top: 90px;
}