@font-face {
  font-family: KembolRegular;
  src: url("fonts/KembolRegular-VG1VV.otf");
}

@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-ThinItalic.ttf') format('truetype');
       font-weight: 100;
       font-display: swap;
       font-style: italic;
}

@font-face {
  font-family: 'Zodiak-Light';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Regular';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-Italic';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Bold';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Black';
  src: url('fonts/Zodiak_Complete/fonts/Zodiak-Black.ttf') format('truetype');
       font-weight: 900;
       font-display: swap;
       font-style: normal;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  background: url('images/bg-100.jpg') no-repeat center center/cover fixed;
}

ul{
  margin: 0;
  padding: 0;
}